<!doctype html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        <title>Sentimentify</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"<\link>
    </head>
    <body>
        <header class="bg-info text-white text-center p-3">
            <h4 class="display-4">sentimentify</h4>
        </header>
        <div class="container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere voluptas quos sint fugiat, laboriosam aliquid voluptatibus, expedita at rem, esse praesentium. Dolorem sint iste aliquid facere voluptatibus sed, obcaecati odio!</p>
        </div>
        <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
    </body>
</html>