{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <div class="jumbotron text-center">
            <form method='POST'>
                <p class="lead text-center">Enter your Reddit article link here:</p>
                <input type="text" class="form-control" name="url">
                <div class="mt-2">
                    <input class="form-check-input" type="checkbox" name="custom-classifier" id="custom-classifier">
                    <label class="form-check-label" for="custom-classifier">Use custom classifier</label>
                </div>
                <input type="submit" class="btn btn-secondary mt-3">
                {% if error %}
                    <div class="alert alert-danger mt-3" role="alert">
                        <strong>Error: </strong>{{error}}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}