{% extends 'base.html' %}

{% block body %}
    <div class="container col-8">
        <form method='POST'>
            <input type="text" class="form-control form-control-lg" name="url" placeholder="Enter the link to your Reddit post here">

            <div class="mx-auto pt-3 float-left pb-3">
                <div class="d-grid gap-3 d-sm-flex">
                    <input type="submit" name="default" class="btn btn-primary btn-lg px-4 pr-2" value="Get Results">
                    <input type="submit" name="custom" class="btn btn-outline-primary btn-lg px-4" value="Get Results Using Custom Classifier">
                </div>
            </div>

            {% if error %}
                <div class="alert alert-danger mt-3" role="alert">
                    <strong>ERROR: </strong>{{error}}
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}